@font-face {
	font-family: "Clear Sans";
	src: 	url("https://e00-elmundo.uecdn.es/fonts/clearWeb/ClearSans-Regular-webfont.eot?") format("eot"),
			url("https://e00-elmundo.uecdn.es/fonts/clearWeb/ClearSans-Regular-webfont.woff2") format("woff2"),
			url("https://e00-elmundo.uecdn.es/fonts/clearWeb/ClearSans-Regular-webfont.woff") format("woff"),
			url("https://e00-elmundo.uecdn.es/fonts/clearWeb/ClearSans-Regular-webfont.ttf") format("truetype"),
			url("https://e00-elmundo.uecdn.es/fonts/clearWeb/ClearSans-Regular-webfont.svg#Regular") format("svg");
}
  
@font-face {
	font-family: "Roboto";
	font-weight: normal;
	src: 	url("https://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Regular.eot?")format("eot"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Regular.woff") format("woff"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Regular.ttf") format("truetype"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Regular.svg#Regular") format("svg");
}
  
@font-face {
	font-family: "Roboto";
	font-weight: bold;
	src: 	url("https://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Black.eot?")format("eot"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Black.woff2") format("woff2"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Black.woff") format("woff"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Black.ttf") format("truetype"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Black.svg#Medium") format("svg");
}
  
@font-face {
	font-family: "Roboto Condensed";
	font-weight: normal;
	src: 		url("https://e00-elmundo.uecdn.es/fonts/roboto/RobotoCondensed-Regular.eot?") format("eot"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/RobotoCondensed-Regular.woff2") format("woff2"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/RobotoCondensed-Regular.woff") format("woff"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/RobotoCondensed-Regular.ttf") format("truetype"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/RobotoCondensed-Regular.svg#Roboto") format("svg");
}
	
@font-face {
	font-family: "Roboto Condensed";
	font-weight: bold;
	src: 		url("https://e00-elmundo.uecdn.es/fonts/roboto/RobotoCondensed-Bold.eot?") format("eot"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/RobotoCondensed-Bold.woff2") format("woff2"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/RobotoCondensed-Bold.woff") format("woff"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/RobotoCondensed-Bold.ttf") format("truetype"),
				url("https://e00-elmundo.uecdn.es/fonts/roboto/RobotoCondensed-Bold.svg#Roboto") format("svg");
}

@font-face {
	font-family: "Butler";
	font-weight: normal;
	src: 		url("e00-elmundo.uecdn.es/fonts/butler/Butler-Regular.eot?") format("eot"),
				url("e00-elmundo.uecdn.es/fonts/butler/Butler-Regular.woff2") format("woff2"),
				url("e00-elmundo.uecdn.es/fonts/butler/Butler-Regular.woff") format("woff"),
				url("e00-elmundo.uecdn.es/fonts/butler/Butler-Regular.ttf") format("truetype"),
				url("e00-elmundo.uecdn.es/fonts/butler/Butler-Regular.svg#Butler") format("svg");
}
