@font-face {
	font-family: "Clear Sans";
	src: url("http://e00-elmundo.uecdn.es/fonts/clearWeb/ClearSans-Regular-webfont.eot");
	src: url("http://e00-elmundo.uecdn.es/fonts/clearWeb/ClearSans-Regular-webfont.eot?#iefix")
		format("embedded-opentype"),
	  url("http://e00-elmundo.uecdn.es/fonts/clearWeb/ClearSans-Regular-webfont.woff2")
		format("woff2"),
	  url("http://e00-elmundo.uecdn.es/fonts/clearWeb/ClearSans-Regular-webfont.woff")
		format("woff"),
	  url("http://e00-elmundo.uecdn.es/fonts/clearWeb/ClearSans-Regular-webfont.ttf")
		format("ttf");
  }
  
  @font-face {
	font-family: "Roboto Regular";
	src: url("http://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Regular.eot")
	  format("eot");
	src: url("http://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Regular.eot?#iefix")
		format("embedded-opentype"),
	  url("http://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Regular.woff")
		format("woff"),
	  url("http://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Regular.ttf")
		format("ttf");
  }
  
  @font-face {
	font-family: "Roboto Medium";
	src: url("http://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Medium.eot")
	  format("eot");
	src: url("http://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Medium.eot?#iefix")
		format("embedded-opentype"),
	  url("http://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Medium.woff")
		format("woff"),
	  url("http://e00-elmundo.uecdn.es/fonts/roboto/Roboto-Medium.ttf")
		format("ttf");
  }
  