// FOOTER

.ue-c-footer-lite {
  font-family: $font-footer;
  &.is-expansion {
    font-family: $fontRegular;
    background-color: $colorMain;
    padding: 1rem 0;
  }
  ul {
    list-style: none;
  }
  .is-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5em;
    @include mq( $mq1 ) {
      margin-bottom: 0;
    };
  }
  &__copyright {
    text-align: center;
    font-size: 12px;
    address {
      font-style: normal;
    }
    @include mq( $mq1 ) {
      margin: 0 4em;
    };
  }

  &__icon-elmundo {
    width: 146px;
    height: 26px;
    display: block;
    margin: 0 auto;
  }
  &__icon-expansion {
    width: 130px;
    height: 26px;
    display: block;
    margin: 0 auto;
    margin-bottom: .5rem;
  }

  &__social-networks {
    display: flex;
    justify-content: center;
    @include mq( $mq1 ) {
      order: 3;
    };
  }
  &__icon {
    width: 30px;
    height: 30px;
    display: block;
    padding: 0 10px;
  }
  &__icon-twitter {
    &:hover {
      #twitter-fondo {
        fill: #326e9b;
      }
      #twitter-icon {
        fill: #fff;
      }
    }
  }
  &__icon-facebook {
    &:hover {
      #facebook-fondo {
        fill: #326e9b;
      }
      #facebook-icon {
        fill: #fff;
      }
    }
  }
  &__icon-rss {
    &:hover {
      #rss-fondo {
        fill: #326e9b;
      }
      #rss-icon {
        fill: #fff;
      }
    }
  }
  &__icon-whatsapp{
    @include mq( $mq1 ) {
      display: none;
    };
  }

  &__partners {
    display: flex;
    justify-content: center;
    @include mq( $mq1 ) {
      order: 1;
    };
  }
  &__partner {
    padding: 0 5px;
    display: block;
  }
  &__partners-reverso {
    height: 34px;
    width: 34px;
  }
  &__partners-ntt {
    width: 100px;
    height: 34px;
  }
  &__list-copyright {
    margin-bottom: 1.5em;
    padding: 0.75em;
    border-top: 1px solid $color5;
    border-bottom: 1px solid $color5;
    .is-expansion &{
      border: 0;
      padding: 0;
    }
    @include mq( $mq1 ) {
      border:0;
      order: 2;
      margin: 0;
      padding: 0;
    };
  }
  &__list-corporative {
    padding: 0.75em 0;
    border-top: 1px solid $color5;
    border-bottom: 1px solid $color5;
    text-align: center;
    li {
      display: inline-block;
      &:after {
        content: "|";
        margin: 0 10px;
      }
      &:last-of-type {
        &:after {
          content: "";
          margin: 0;
        }
      }
      .is-expansion &{
        margin: 0 10px;
        &:after {
          content: none;
        }
      }
      a {
        font-size: 13px;
        color: $colorTextMain;
        text-decoration: none;
        &:hover {
          color: #49a3db;
        }
      }
    }
  }
  &__list-contact{
    display: flex;
    flex-direction: column;
    @include mq( $mq1 ){
      flex-direction: row;
      justify-content: center;
    }
    p{
      font-family: $fontRegular;
      font-size: 13px;
      text-align: center;
      color: $colorTextMain;
    }
    &-group{
      text-align: center;
      margin:0 2rem;
      padding: 0;
      a{
        display: inline-block;
        margin:0 .2rem;
      }

    }
    &-button{
      background-color: $color3;
      color: $color0;
      border: none;
      border-radius: 3px;
      margin-bottom: 10px;
      font-size: 15px;
      text-decoration: none;
      padding: .3rem 1rem;
      display: inline-block;
      text-align: center;
      width: 40%;
    }
  }
  &__container-first{
    @include mq( $mq1 ) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1em 0;
      border-top:1px solid $color5;
    };
  }
}
