// HEADER 
.ue-c-header-lite{
    height: px-rem(44);
    padding: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: get-value-from-map( $ue-c-header-lite, header, mobile,  justify-content);
    background-color: get-value-from-map( $ue-c-header-lite, header, mobile, background-color);
    border-bottom: get-value-from-map( $ue-c-header-lite, header, mobile, border-bottom);
    @include mq($from: tablet) {
        justify-content: get-value-from-map( $ue-c-header-lite, header, tablet,  justify-content);
        width: 100%;
        height: px-rem(44);
        padding: 0;
    }
    &__logo{
        padding: 0 1rem;
        width: px-rem( get-value-from-map( $ue-c-header-lite, logo, mobile, width) );
        margin: get-value-from-map( $ue-c-header-lite, logo, mobile, margin);
        @include mq($from: tablet) {
            width: px-rem( get-value-from-map( $ue-c-header-lite, logo, tablet, width) );
        }
    }
    &--center{
        justify-content: center;
    }
}