// HEADER 

body{
    margin: 0;
    padding: 0;
}
.hidden-content{
    display: none;
}
.ue-c-header-lite{
    background-color: $color3;
    height: px-rem(44);
    padding: 0 px-rem(16);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include mq($from: tablet) {
        justify-content: flex-start;
        width: 100%;
        height: px-rem(44);
        padding: 0 0 0 px-rem(16);
    }
    &__logo{
        svg{
            width: px-rem(150);
            @include mq($from: tablet) {
                width: px-rem(175);
            }
        }
    }
}