$mq1: 480px;
$max-width: 360px;
$fontRegular: "Heebo", sans-serif;
$fontCond: "Roboto Condensed";
$font-footer: "Clear Sans", Arial, sans-serif, helvetica;

$fontRegularExpansion: "Heebo", sans-serif;
$fontRegularExpansion2: "Butler", serif;

$color0: #fff;
$color1: #e2e2e2;
$color2: #5d6d7e;
$color3: #216087;
$color4: #226894;
$color5: #f3f3f3;
$color6 :#e2e2e2;
$colorExpansion: #fff1e0;
$colorExpansion2: #386ab0;
$colorExpansion3: #cecece;
$colorExpansion4: #c3d5e5;
$colorExpansion5: #f0e3d3;
$colorExpansionText: #181715;

$colorbase:#597897;
$colorlink:#2e6d9d;

$error: #f6eced;
$error2: #f0d5d5;
$errorText: #c62514;

$correct: #d9ead7;
$correct2: #bcd7b8;
$correctText:#0b7542;

$colorblock: #c3d5e5;
