$mq1: 480px;
$max-width: 360px;
$fontRegular: "Heebo", sans-serif;
$fontCond: "Roboto Condensed";
$font-footer: "Clear Sans", Arial, sans-serif, helvetica;


$color0: #fff;
$color1: #e2e2e2;
$color2: #5d6d7e;
$color3: #216087;
$color4: #226894;
$color5: #f3f3f3;
$color6 :#e2e2e2;
$color7 :#e2d8cb;
$colorTextMain:#181715;

$colorMain: #fff1e0;
$colorMain2: #386ab0;
$colorMain3: #cecece;
$colorMain4: #c3d5e5;
$colorMain5: #f0e3d3;

$borderRadiusMessage: 4px;
$displaySpinner: flex;
$displaySpinnerDirecction: column;

$colorbase:#597897;
$colorlink:#216087;

$error: #f6eced;
$error2: #f0d5d5;
$errorText: #af2315;

$correct: #d9ead7;
$correct2: #bcd7b8;
$correctText:#0b7542;

$colorblock: #c3d5e5;

$ue-c-premium-account: (
    plan:( background-color: $color0, border: 1px solid $colorMain ),
    button: (font-family: $fontRegular,  font-size: 14px),
    bookmark: ( background-color: $colorMain),
    help: ( font-family: $fontRegular, background-color: $color7, border:1px solid $colorMain3)
);

$ue-c-header-lite: (
    header: (
        mobile:( background-color: white, justify-content: center, border-bottom: 4px solid $color4),
        tablet:( background-color: white, justify-content: center, border-bottom: 4px solid $color4)
    ),
    logo: (
        mobile: (width: 150, height:34, padding: 0 1rem , margin: 1.2rem 0 0 0),
        tablet: (width: 175, height:34, padding: 0 1rem , margin: auto),
    )
);