
$mobile: 320px;
$desktop: 600px;
$fontRegular: "Roboto Regular";
$fontMedium: "Roboto Medium";
$color1: #e2e2e2;
$color2: #5d6d7e;
$color3: #2a7aac;
$color4: #226894;
$color5: #f2f3f4;
$color6 :#e2e2e2;
$error: #c62514;
