@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



form input::-webkit-input-placeholder{color:#ddd}form input:-moz-placeholder{color:#ddd;opacity:1}form input::-moz-placeholder{color:#ddd;opacity:1}form input:-ms-input-placeholder{color:#ddd}

*{margin:0;padding:0;border:0;}

.paytpv_fs  {font-family: Raleway,sans-serif;}
.paytpv_fs input,.paytpv_fs select {font-family: Montserrat,sans-serif;}

.paytpv_fs ol, .paytpv_fs ul {list-style: none;}
.paytpv_fs .vertical{overflow: hidden;}
.paytpv_fs .vertical li {float: left;width: 140px;}
.paytpv_fs .vertical input {width: 79px;}
.paytpv_fs label {color: #555;font-size: 14px;font-weight: 400;margin-bottom: 5px;}
.paytpv_fs .carbon-img img, input, label, li .help {display: block;}
.paytpv_fs {max-width: 290px;  margin: auto;}
.paytpv_fs>.content>ul>li{padding: 5px 0;}
.paytpv_fs .paytpv_merchant_pan {background-image: url("../img/images.png"), url("../img/images.png");background-position: 2px -122px,260px -60px;background-size: 120px 882px,120px 882px;background-repeat: no-repeat;padding-left: 54px!important;width: 100%;}

.paytpv_fs .paytpv_merchant_pan.visa{background-position:2px -163px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.mastercard{background-position:2px -248px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.maestro{background-position:2px -291px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.discover{background-position:2px -333px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.amex{background-position:2px -375px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.diners_club_international{background-position:2px -418px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.jcb{background-position:2px -459px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.china_union_pay{background-position:2px -502px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.elo{background-position:2px -544px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.cirrus{background-position:2px -586px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.uatp{background-position:2px -621px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.carnet{background-position:2px -671px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.eftpos{background-position:2px -713px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.vpay{background-position:2px -755px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.visadk{background-position:2px -797px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.nspk{background-position:2px -839px,260px -60px;}
.paytpv_fs .paytpv_merchant_pan.valid.visa{background-position:2px -163px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.visa_electron{background-position:2px -176px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.mastercard{background-position:2px -248px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.maestro{background-position:2px -291px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.discover{background-position:2px -333px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.amex{background-position:2px -375px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.diners_club_international{background-position:2px -418px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.jcb{background-position:2px -459px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.china_union_pay{background-position:2px -502px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.elo{background-position:2px -544px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.cirrus{background-position:2px -586px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.uatp{background-position:2px -621px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.carnet{background-position:2px -671px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.eftpos{background-position:2px -713px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.vpay{background-position:2px -755px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.visadk{background-position:2px -797px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid.nspk{background-position:2px -839px,260px -86px;}
.paytpv_fs .paytpv_merchant_pan.valid{background-position:2px -122px,260px -86px;}

.paytpv_fs li .help {color: #aaa;clear: both;font-size: 11px;font-weight: 400;line-height: 14px;padding-top: 14px;}

.paytpv_fs input{border:1px solid #e5e5e5;color:#333;font-size:18px;height:34px;padding:0 5px;width:100%;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:border-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}

input.button{background:#009fe3;background:-moz-linear-gradient(top,#009fe3 0,#007fb2 100%);background:-webkit-linear-gradient(top,#009fe3 0,#007fb2 100%);background:linear-gradient(to bottom,#009fe3 0,#007fb2 100%);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#237bd3;display:inline-block;font-size:21px;font-weight:300;line-height:46px;height:46px;padding:0;text-align:center;width:100%}
input.button:hover {background: -moz-linear-gradient(top, #009fe3 40%, #007fb2 100%) !important;background: -webkit-linear-gradient(top, #009fe3 40%,#007fb2 100%) !important;background: linear-gradient(to bottom, #009fe3 40%,#007fb2 100%) !important;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009fe3', endColorstr='#007fb2',GradientType=0) !important;cursor:pointer;color: #ffffff;}


.paytpv_fs #btnforg{
	background: -moz-linear-gradient(top, #009fe3 0%, #007fb2 100%);background: -webkit-linear-gradient(top, #009fe3 0%,#007fb2 100%);background: linear-gradient(to bottom, #009fe3 0%,#007fb2 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009fe3', endColorstr='#007fb2',GradientType=0 );-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background-color: #009fe3;color: #ffffff;display: inline-block;font-size: 21px;font-weight: 300;line-height: 46px;height:46px;font-family: 'Raleway', sans-serif;padding: 0 0px;text-align: center;width: 100%;
}

.operation_message_nav input,form h2{font-family:Raleway,sans-serif}.operation_data h3.cost_num{color:#fff;font-size:21px}
.operation_message{position:relative;width:100%}
.text_message{background-position:20px center;background-repeat:no-repeat;background-size:65px;border-style:solid;border-width:1px;margin-bottom:20px;padding:10px 10px 10px 100px;width:100%;box-sizing:border-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.text_message h2{font-size:1.125em;font-weight:700}
.text_message p{color:#333;font-size:1em;font-weight:600;margin:20px 0 0}
.text_message.ok{background-color:#EAFFEE;border-color:#00C120;background-image:url("../img/info_check_green.svg")}
.text_message.ok h2{color:#00C120}
.text_message.ko{background-color:#FDEAEA;border-color:#D20000;background-image:url("../img/info_delete_red.svg")}
.text_message.info h2{color:#9BEA9B}
.operation_message_nav{text-align:center;width:100%;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.operation_message_nav .pad{width:inherit!important}
.operation_message_nav input{background-color:#fff;border:0;color:#fff;cursor:pointer;display:inline-block;font-size:18px;font-weight:300;margin:0 10px;text-align:center;min-width:120px;width:auto!important;box-sizing:border-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.operation_message_nav input.button,.operation_message_nav input.button:hover{background:#009fe3;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#009fe3', endColorstr='#007fb2', GradientType=0 )}
.operation_message_nav input.button{background:-moz-linear-gradient(top,#009fe3 0,#007fb2 100%);background:-webkit-linear-gradient(top,#009fe3 0,#007fb2 100%);background:linear-gradient(to bottom,#009fe3 0,#007fb2 100%);background-color:#237bd3}
.operation_message_nav input.button:hover{background:-moz-linear-gradient(top,#009fe3 40%,#007fb2 100%);background:-webkit-linear-gradient(top,#009fe3 40%,#007fb2 100%);background:linear-gradient(to bottom,#009fe3 40%,#007fb2 100%)}
.loader{background:#009fe3;background:-moz-linear-gradient(top,#009fe3 40%,#007fb2 100%);background:-webkit-linear-gradient(top,#009fe3 40%,#007fb2 100%);background:linear-gradient(to bottom,#009fe3 40%,#007fb2 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#009fe3', endColorstr='#007fb2', GradientType=0 );border:0;float:none;padding:16px 0 15px;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:border-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-align:center}
.input_error {border:1px solid #f44336 !important;}
.label_error {color:#f44336 !important;}
.errorMessage010 {color:#f44336; font-size:12px;}

/* 							 		*/
/* 		new styles for premium		*/
/* 							 		*/

.paytpv_fs  {
	font-family: "Roboto" !important;
}
.paytpv_fs input,.paytpv_fs select {
	font-family: "Roboto" !important;
}
.ue-c-premium-account__paypal-text{
	color:black !important;
}
.paytpv_fs{
	max-width: 100%;
}
.paytpv_fs .vertical li{
	width: 48%;
}
.paytpv_fs .vertical li+li{
	float: right;
}
.paytpv_fs .vertical input{
	width: 100%;
}
.paytpv_fs label{
	text-align: left;
}

.paytpv_fs #btnforg{
	background: #216087!important;;
	font-family: "Roboto" !important;
	font-size: 15px;
}
.paytpv_fs #btnforg:hover{
	background: #216087!important;;
	opacity: 0.8;
}
.paytpv_fs .paytpv_merchant_pan{
	padding-left: 5px!important;
}
.paytpv_fs input{
	font-size: 16px;
}
.paytpv_fs li .help{
	text-align: left;
}

#formulario input[type="text"], #formulario input[type="password"]{
	font-size: 16px;
	background:white;
}
