@import "fonts";
@import "mq";
@import "variables";
@import "mixins";
@import "footer_fixed";
@import "header-lite";


body{
  background-color: $colorMain;
  margin: 0;
  padding: 0;
}

.hidden-content{
  display: none;
}

.ue-c-premium-account {
  @include resetPremium();
  display: block;
  box-sizing: border-box;
  padding: 28px 0;
  max-width: 95%;
  // fix ozone problem
  min-height: 72vh;  
  margin: 0 auto;
  font-size: 16px;
  font-family: $fontRegular;
  color:$colorTextMain;
  @include mq( $mq1 ) {
    max-width: $max-width;
  }
  
  a {
    @include links;
  }
  
  .is-centered {
    text-align: center;
    display: block;
  } 
  .is-bold{
    font-weight: bolder;
  }
  .is-italic{
    font-style: italic;
  }
  .is-active {
    opacity: 1;
  }
  .is-hidden {
    display: none;
  }

  &__header {
    background-color: $color0;
    height: 44px;
    padding: 0 1rem;
    border-bottom: 1px solid $color6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include mq( $mq1 ) {
      justify-content: center;
      width: 100%;
      height: 60px;
      padding: 0;
    }
  }
  &__header-logo {
    svg {
      width: 150px;
      @include mq( $mq1 ) {
        width: 294px;
      }
    }
  }
  &__input {
    position: relative;
  }
  &__input-password,
  &__input-mail {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    font-size: 16px;
    color: #4e4e4e;
    margin-bottom: 20px;
    @media all and (min-width: 800px) {
      font-size: 14px;
    }
  }
  &__input-password {
    margin-bottom: 0;
  }
  //
  //evitar en safari el icono guardar llave de contactos
  //
  input[autocomplete="off"]::-webkit-contacts-auto-fill-button,
  input[autocomplete="off"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    height: 0;
    width: 0;
    margin: 0;
  }
  &__title{
    @include maintitle;
    font-family: $fontRegular;
  }
  &__password-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.3;
    width: 20px;
    height: 13px;
  }
  &__suscription {
    border: transparent;
    padding: 0;
    margin: 20px 0;
    label:first-of-type {
      margin-right: 20px;
    }
  }
  &__plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 8px;
    // margin: 0 -1rem;
    // background-color: get-value-from-map($ue-c-premium-account, plan, background-color);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-size: 14px;
    border: get-value-from-map($ue-c-premium-account, plan, border);
    position: relative; 
    z-index: 0;
    button{
      &:hover{
        background-color: transparent;
      }
    }
    &-text {
      margin: 0;
    }
    &-list {
      list-style: none;
      font-weight: bolder;
      margin:0;
      padding: 0;
    }
    &-button {
      font-size: get-value-from-map($ue-c-premium-account, button, font-size);
      font-family: get-value-from-map($ue-c-premium-account, button, font-family);
      padding: 0;
      line-height: 1em;
      color: $color3;
      border: 1px solid $color6;
      border-radius: 5px;
      cursor: pointer;
      background-color: transparent;
      min-height: 37px;
      min-width: 107px;
      &:hover {
        text-decoration: underline;
        background-color: #fff;
      }
    }
  }
  &__icon{
    width: 20px;
    height: 20px;
  }
  &__accept {
    margin: 20px 0;
  }
  &__rrss {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__rrss-element {
    transition: opacity 0.2s ease-out;
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
    width: 48%;
    max-width: 160px;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
  &__button {
    width: 100%;
    background-color: $color3;
    color: $color0;
    border: none;
    border-radius: 3px;
    line-height: 40px;
    margin-bottom: 10px;
    font-size: 15px;
    &:hover {
      background-color: get-state-color( $color3 , $state: 'hover');
      text-decoration: underline;
      cursor: pointer;
    }
    &--inverse{
      background-color: #fff;
      border:1px solid $colorMain2;
      color: $colorMain2;
    }
  }
  &__bookmark {
    text-align: center;
    width: 100%;
    position: relative;
    margin: 10px auto;
    height: 22px;
    &::after {
      content: "";
      width: 100%;
      display: block;
      height: 1px;
      background-color: $colorMain3;
      top: 10px;
      position: absolute;
    }
    p {
      font-size: 18px;
      line-height: 18px;
      background-color: get-value-from-map(  $ue-c-premium-account, bookmark,  background-color);
      width: 40px;
      border-radius: 120px;
      margin: 0 auto;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      z-index: 1;
    }
  }
  &__smalltext {
    font-family: $fontRegular;
    color: $color2;
    margin: 0;
    p {
      font-size: 13px;
      line-height: 15px;
    }
  }
  &__paypal {
    font-family: $fontRegular;
    font-weight: bold;
    display: flex;
    align-items: center;
    border: 1px solid $color1;
    border-radius: 2px;
    height: 44px;
    padding: 0 8px;
    justify-content: space-between;
    margin: 15px 0 20px 0;
    cursor: pointer;
    &:hover {
      background-color: $color1;
    }
  }
  &__paypal-text {
    display: flex;
    align-items: center;
    span {
      margin-right: 8px;
      font-family: $fontCond;
      font-size: 20px;
      color:black;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &__card {
    font-family: $fontRegular;
    font-weight: bold;
    margin-bottom: 16px;
  }
  &__card-text {
    display: flex;
    align-items: center;
    font-family: $fontCond;
    font-size: 20px;
    > span{
      margin-right: 0.5rem;
    }
    > svg{
      margin: 0  0.3rem;
    }
  }
  &__accept{
    font-family: $fontRegular;
    font-size: 15px;
  }
  &__message {
    text-align: center;
    &-maintitle{
      @include maintitle;
    }
    
    &-title{
      font-size: 17px;
      margin: 0 0 .5em 0;
    }
    &-text{
      font-size: 14px;
      font-family: $fontRegular;
      color: $colorTextMain;
      a{
        font-weight: bolder;
      }
    }
    &-correct{
      border-radius: $borderRadiusMessage;
      border:1px solid $correct2;
      background-color: $color0;
      padding: 1em .5em;
      color: $correctText;
      margin-bottom: 2em;
    }
    &-error{
      border-radius: $borderRadiusMessage;
      border:1px solid $errorText;
      background-color: $color0;
      padding: 1em .5em;
      color:$errorText;
      margin-bottom: 2em;
    }
    // &-create{
    //   padding: 1em;
    //   background-color: $error;
    //   border:1px solid $error2;
    //   margin-bottom: 2em;
    //   .is-expansion &{
    //     background-color: $colorMain5;
    //     border: 1px solid $colorMain3;
    //   }
    // }
    &-download{
      margin-bottom: 1em;
      display: block;
    }
    &-blocks{
      display: flex;
      justify-content: space-between;
      > div{
        width: 45%;
      }
      > div:nth-child(1):nth-last-child(1) {
        width: 100%;
      }
    }
    &-block{
      background-color: $color0;
      border-radius: 4px;
      font-weight: bold;
      font-size: 17px;
      padding-top: 10px;
      p{
        margin: 0;
      }
    }
    &-price{
      font-size: 28px;
      font-weight: normal;
      margin-bottom: 1em;
    }
    button{
      width: 85%;
      margin: 10px;
    }
  }
  &__container {
    position: relative;
    & > *{
      margin-bottom: .5rem;
    }
    p{
      margin: 0;
    }
  }
  &__confirm {
    display: flex;
    margin: 20px 0;
  }
  &__confirm-input {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  &__confirm-label {
    margin: 0 0 0 5px;
  }
  &__help {
    text-align: center;
    background-color: get-value-from-map( $ue-c-premium-account, help, background-color);
    padding: 10px 0;
    font-family: get-value-from-map( $ue-c-premium-account, help, font-family);
    border: get-value-from-map( $ue-c-premium-account, help, border );
    &-text{
      font-weight: bold;
      margin: 0;
      line-height: 1.5rem;
    }
    &-link{
      @include links;
    }
    span a {
      color: black;
      text-decoration: none;
    }
    a{
      margin-bottom:0;
    }
  }
  &__promotional{
    &-maintitle{
      @include maintitle
    }
    &-maintext { 
      margin-bottom: 1em;
      p{
        font-family: $fontCond;
        margin: 0;
        .is-expansion &{
          font-family: $fontRegular;
        }
      }
      span{
        font-weight: bold;
      }
    }
    &-oldprice{
      position: relative;
     &::before{
       content: "";
       height: 1px;
       width: 100%;
       background-color: black ;
       position: absolute;
       top: 50%;
     }
    }
    &-newprice{
      color: $correctText;
      .is-expansion &{
        color: $colorMain2;
      }
    }
    &-textlink{
      font-family: $fontCond;
      font-weight: normal;
      font-size:17px;
      color:$colorlink;
      a{
        font-weight: bold;
        @include links;
      }
    }
    &-form {
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid #edeef0;
      label{
        font-family: $fontRegular;
        font-size: 14px;
      }
    }
    &__error,
    &__correct {
      display: flex;
      align-items: flex-start;
      margin: 3px 0 0px 0px;
      p {
        color: $errorText;
        font-size: 14px;
        margin: 0 0 5px 5px;
        .is-expansion &{
          font-size: 13px;
        }
      }
      svg {
        fill: $errorText;
        height: 20px;
        width: 20px;
      }
    }
    &__correct {
      p,
      svg {
        fill: black;
        color: black;
      }
    }
  }
  &__list {
    margin: 1.5em 0;
    padding: 0;
    list-style: none;
    &-element {
      font-family: $fontRegular;
      position: relative;
      padding-left: 12px;
      margin: 0;
      margin-bottom: 0.6em;
      font-size: 14px;
      &::before {
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        width: 6px;
        height: 6px;
        background-color: $color3;
        border-radius: 120px;
      }
      .is-expansion &{
        font-family: $fontRegular;
        &::before {
          content: "\2713";
          position: absolute;
          top: 0;
          left: -3px;
          width: 6px;
          height: 6px;
          border-radius: 0;
          background-color: transparent;
          color:$colorMain2;
        }
      }
    }
    &-link{
      @include links;
    }
  }
  &__spinner{
    &-block{
      display: $displaySpinner;
      flex-direction: $displaySpinnerDirecction;
      align-items: center;
    }
    &-title{
      font-size: 20px;
    }
    &-text{
      font-weight: bold;
      font-size: 17px;
      color: $colorTextMain;
      text-align: center;
    }
  }
}

@import "footer-lite";

