<div class="ue-c-premium-account">
    <h2 class="ue-c-premium-account__title">
        ¡Te has suscrito correctamente!
    </h2>
    <div class="ue-c-premium-account__message-correct is-centered">
            {{> icon_ok}}
            <h2 class="ue-c-premium-account__message-title">
                ¡Pago completado!<br>¡Enhorabuena!
            </h2>
            <p class="ue-c-premium-account__message-text">Te confirmamos que has adquirido con éxito un pase diario a <span class="is-bold">Expansión Premium.</span> 
            </p>
        </div>
    <div class="ue-c-premium-account__message-create  is-centered">
        {{> logos/threescreens}}
        <p>Antes de seguir leyendo, <a href="">crea una cuenta</a> o <a href="">inicia sesión</a> para tener todo el contenido Premium en todos tus dispositivos y acceder al resto de ventajas como eventos, sorteos o descuentos directos.</p>
        <button class="ue-c-premium-account__button" type="button">Crea una cuenta</button>
        <p>¿Ya eres usuario de El Mundo? <a href="">Inicia sesión</a> </p>
    </div>
    <a class="is-centered" href="#"> No, gracias. Continuar leyendo</a>
</div>