<div class="ue-c-premium-account {{clases}}">
    <h2 class="ue-c-premium-account__title">
        ¡Aún no disfrutas El Mundo Premium en todos tus dispositivos!
    </h2>
    <div class="ue-c-premium-account__message-create  is-centered">
        <p>Creando una cuenta en El Mundo podrás unir Premium a otros dispositivos y disfrutarlo dónde y cuándo quieras:</p>
        {{> logos/threescreens}}
        <p>Con una cuenta podrás acceder a todas las ventajas Premium: descuentos directos en miles de comercios, carburante y viajes, sorteos, eventos...</p>
        <button class="ue-c-premium-account__button" type="button">Crea una cuenta</button>
        <p>¿Ya eres usuario de El Mundo? <a href="">Inicia sesión</a> </p>
    </div>
    <a class="is-centered" href="#"> No, gracias. Continuar leyendo</a>
</div>