<footer class="ue-c-footer-lite" itemscope="" itemtype="http://schema.org/Organization" role="contentinfo">
    <div class="ue-c-footer-lite__container-first">
        <ul class="ue-c-footer-lite__list ue-c-footer-lite__list-copyright">
            <li class="ue-c-footer-lite__copyright">
                <a class="ue-c-footer-lite__icon-elmundo" target=”_blank” href="http://www.elmundo.es/" title="El Mundo">
                   <svg role="img" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 143 19"><g fill="none" fill-rule="evenodd"><path fill="#1E1210" d="M51.5 18.3h6v-1h-1.3-.3l-.5-.3c-.2-.2-.2-.4-.2-.9V2.7l5 15.6H62l5.3-15.7v13.8c0 .2-.1.5-.3.6-.1.1-.5.3-.9.3H65v1h8.4v-1H72c-.7 0-1.3-.5-1.3-1.2V3.4c0-.5.1-.6.4-.7 0-.2.5-.2.9-.2h1.4v-.7h-7l-4 11.7-3.9-11.7h-7v.7h1.3c.7 0 1 .2 1 .9v12.3l.1.5c0 .6-.4 1.1-1.1 1.1h-1.3v1zM73.7 2.5h2.1c.2.2.3.3.3.6v10.5c0 1.9.4 3 1.6 3.6a9 9 0 0 0 4.5 1.1A8 8 0 0 0 87 17c.5-.5.9-1 1-1.9.2-.6.3-1.4.3-2.2V3.4c0-.7.5-1 1.3-1h1v-.6H85v.7h1c.7 0 1.3.2 1.3.9V13c0 2.7-1.1 3.7-3.8 3.7-1.8 0-3.3-.6-3.7-1.7-.1-.3-.2-.8-.2-1.8V3.4c0-.7.5-1 1.2-1h1.5v-.6h-8.5v.7zM91 18.3H97v-1h-1.2-.3a2.7 2.7 0 0 1-.6-.3c-.2-.2-.3-.4-.3-.9V4.8l8.5 13.5h2.7V3.1c0-.4.2-.5.7-.7H108v-.6h-6v.7h1.3c.7 0 1 .2 1 .9v10.3l-7.7-12H91v.8h1.4c.7 0 1.3.2 1.3.9v12.7c0 .7-.6 1.2-1.3 1.2H91v1zm23.6-2V3.1c0-.8.1-.7.8-.7h2.2c1.1 0 2.2.4 2.8 1.3.5.7.8 1.5 1 2.8l.1 3.3c0 5-1.3 7.4-4.2 7.4h-1.8c-.7 0-.9-.2-.9-1zm-6 2h8.9c4.6 0 7.9-3.7 7.9-8.6 0-2.9-1.3-5.3-3.5-6.8a8.2 8.2 0 0 0-4.7-1.1h-8.6v.7h1.2c.7 0 1.1.2 1.1.9v12.7c0 .4 0 .7-.2.9-.2.1-.5.3-.8.3h-1.3v1zM131 5c.5-1.8 1.6-2.7 3.4-2.7 1.8 0 3 1 3.5 2.7.3 1.2.4 2.5.4 4.8 0 2.4-.1 3.6-.4 4.8-.5 1.8-1.7 2.8-3.5 2.8s-2.9-1-3.4-2.8c-.3-1.1-.4-2.4-.4-4.8s0-3.6.4-4.8m-4.3 4.8c0 5.1 3.1 8.6 7.7 8.6s7.8-3.5 7.8-8.6c0-2.3-.7-4.4-2.1-6a7 7 0 0 0-5.7-2.5 7 7 0 0 0-5.6 2.5 9.3 9.3 0 0 0-2 6M.1 18.3H15l.5-5.4h-1c-.3 3-2.1 4.4-5.3 4.4H7c-.6 0-1-.3-1-1V9.5h1.4c1.2 0 2.3.2 2.7.7.5.4.9 1.4.9 2.2v.5h.8V5.4H11v.2c0 2-1.4 3.3-3.7 3.3H5.9v-6c0-.5.4-.4 1-.4H9c1.8 0 2.8 0 3.8 1a4 4 0 0 1 1.5 3h1L15 1.8H.2v.7h1.2c.7 0 1.2.2 1.2.9V16c0 .7-.5 1.2-1.2 1.2H.2v1zM15.7 2.5H17c.7 0 1 .2 1 .9v12.7c0 .5 0 .7-.2 1l-.8.2h-1.3v1H30l.3-6.7h-.9c-.5 3.7-2.3 5.7-5 5.7h-1.8c-.6 0-.7-.3-.7-1V3.4c0-.7.3-1 1-1h1.4v-.6h-8.5v.7z"/><path fill="#6887A6" d="M49.7 13.9a9.2 9.2 0 0 0 .9-3.7h-9V14h8m-9-8.7H33c-.7 1.3-1 2.7-1.2 4h9v-4zm1 0v4h9c0-1.3-.5-2.7-1.2-4h-7.7zm-1 5h-8.9c0 1.4.4 2.7 1 3.7h8v-3.7zm0 4.8h-7.3a9.5 9.5 0 0 0 7.4 4v-4zm1-10.9h7.2a9 9 0 0 0-7.1-4v4zm0 10.9v4c3.1-.2 5.9-1.7 7.5-4h-7.4zM40.7 4v-4a9 9 0 0 0-7 4h7z"/></g></svg>
                </a>
                <address aria-label="Dirección y datos de contacto">
                    <span itemprop="name">&copy; Elmundo.es  Avda San Luis 25 - 28033 Madrid</span>
                </address>
            </li>
        </ul>
        <ul class="ue-c-footer-lite__list ue-c-footer-lite__social-networks" aria-label="Redes Sociales">
            <li>
                <a href="https://twitter.com/elmundoes" class="ue-c-footer-lite__icon ue-c-footer-lite__icon-twitter" target="_blank" title="Twitter"
                    itemprop="sameAs">
                   <svg role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35"><defs><circle id="a" cx="17.5" cy="17.5" r="17.5"/><path id="c" d="M0 0h17v14H0z"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><use fill="#597897" fill-rule="nonzero" xlink:href="#a"/><g fill="#216087" fill-rule="nonzero" mask="url(#b)"><path d="M0 0h35v35H0z"/></g><g transform="translate(9 11)"><mask id="d" fill="#fff"><use xlink:href="#c"/></mask><path fill="#FFF" d="M15.3 3.5v.4A10 10 0 0 1 5.3 14 9.9 9.9 0 0 1 0 12.5h.8A7 7 0 0 0 5.2 11a3.5 3.5 0 0 1-3.3-2.5h1.6A3.5 3.5 0 0 1 .7 5c.4.2 1 .4 1.5.4A3.5 3.5 0 0 1 .7 2.5c0-.7.1-1.3.4-1.8a10 10 0 0 0 7.3 3.7 3.7 3.7 0 0 1-.1-.9C8.3 1.6 9.8 0 11.7 0a3.5 3.5 0 0 1 2.6 1 7 7 0 0 0 2.2-.8 3.5 3.5 0 0 1-1.5 2 6.8 6.8 0 0 0 2-.6 7.1 7.1 0 0 1-1.7 1.9" mask="url(#d)"/></g></g></svg>
                    <span class="is-hidden -content">Siguenos en Twitter</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/elmundo" class="ue-c-footer-lite__icon ue-c-footer-lite__icon-facebook" target="_blank" title="Facebook"
                    itemprop="sameAs">
                   <svg role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35" viewBox="0 0 35 35"> <defs> <circle id="a" cx="17.5" cy="17.5" r="17.5"/> <path id="c" d="M0 0h10v18H0z"/> </defs> <g fill="none" fill-rule="evenodd"> <g> <mask id="b" fill="#fff"> <use xlink:href="#a"/> </mask> <use fill="#597897" fill-rule="nonzero" xlink:href="#a"/> <g fill="#216087" fill-rule="nonzero" mask="url(#b)"> <path d="M0 0h35v35H0z"/> </g> </g> <g transform="translate(13 9)"> <mask id="d" fill="#fff"> <use xlink:href="#c"/> </mask> <path fill="#FFF" d="M6.49 18V9.789h2.951l.44-3.198h-3.39V4.547c0-.925.274-1.558 1.694-1.558H10V.125C9.687.084 8.609 0 7.36 0 4.743 0 2.959 1.495 2.959 4.234v2.364H0v3.199h2.959V18H6.49z"/> </g> </g> </svg>
                    <span class="is-hidden -content">Siguenos en Facebook</span>
                </a>
            </li>
            <li>
                <a href="http://www.elmundo.es/rss/" class="ue-c-footer-lite__icon ue-c-footer-lite__icon-rss" title="RSS" target="_blank" itemprop="sameAs">
                    <svg role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35"><defs><circle id="a" cx="17.5" cy="17.5" r="17.5"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><use fill="#597897" fill-rule="nonzero" xlink:href="#a"/><g fill="#216087" fill-rule="nonzero" mask="url(#b)"><path d="M0 0h35v35H0z"/></g><g fill="#FFF" fill-rule="nonzero"><path d="M12.2 21.6c-.6 0-1.1.2-1.6.6-.4.5-.6 1-.6 1.6s.2 1.1.6 1.6c.5.4 1 .6 1.6.6.6 0 1.1-.2 1.6-.6.4-.5.6-1 .6-1.6 0-.6-.2-1.1-.6-1.6a2.1 2.1 0 0 0-1.6-.6zm5-2.8a10 10 0 0 0-3-2.1 10.2 10.2 0 0 0-3.4-1 .7.7 0 0 0-.6.3.7.7 0 0 0-.2.5v1.6c0 .1 0 .3.2.4a.7.7 0 0 0 .5.3 7 7 0 0 1 4.4 2 7 7 0 0 1 2.1 4.5c0 .2.1.4.3.5a.7.7 0 0 0 .4.2h1.6c.2 0 .4 0 .5-.2a.7.7 0 0 0 .2-.6 10.2 10.2 0 0 0-1-3.5 10 10 0 0 0-2-3z"/><path d="M24.6 19.5a16 16 0 0 0-3.3-4.8 16 16 0 0 0-4.8-3.3 15.8 15.8 0 0 0-5.7-1.4.7.7 0 0 0-.6.2.7.7 0 0 0-.2.5v1.7c0 .1 0 .3.2.4a.7.7 0 0 0 .5.3 12.9 12.9 0 0 1 8.4 3.8c1.1 1 2 2.3 2.7 3.8a12.7 12.7 0 0 1 1.1 4.6.7.7 0 0 0 .2.5.7.7 0 0 0 .5.2h1.7a.7.7 0 0 0 .5-.2.7.7 0 0 0 .2-.6 15.8 15.8 0 0 0-1.4-5.7z"/></g></g></svg>
                    <span class="is-hidden -content">Agregar RSS</span>
                </a>
            </li>
            <li>
                <a href="#" class="ue-c-footer-lite__icon ue-c-footer-lite__icon-rss" title="whatsapp" target="_blank" itemprop="sameAs">
                    <svg role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35"><defs><circle id="a" cx="17.5" cy="17.5" r="17.5"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><use fill="#597897" fill-rule="nonzero" xlink:href="#a"/><g fill="#216087" fill-rule="nonzero" mask="url(#b)"><path d="M0 0h35v35H0z"/></g><path fill="#FFF" fill-rule="nonzero" d="M25 10a10 10 0 0 0-7-3 10 10 0 0 0-7.2 3 10 10 0 0 0-3 7c0 1.8.5 3.4 1.3 5L7 28l6-2.1a10 10 0 0 0 5 1.2 10 10 0 0 0 7-3 10 10 0 0 0 3-7 10 10 0 0 0-3-7.2zm-2.2 10.6l-1 1c-1 1-3.6-.1-6-2.4-2.3-2.4-3.4-5-2.5-6l1.1-1a.6.6 0 0 1 .9 0l1.4 1.4a.6.6 0 0 1 0 .8l-.9.8a8.2 8.2 0 0 0 4 4l.8-.9a.6.6 0 0 1 .8 0l1.4 1.4a.6.6 0 0 1 0 .9z"/></g></svg>
                    <span class="is-hidden -content">Agregar RSS</span>
                </a>
            </li>
        </ul>
        <ul class="ue-c-footer-lite__list ue-c-footer-lite__partners">
            <li class="ue-c-footer-lite__partner ue-c-footer-lite__partners-trust">
                <a class="" target=”_blank” href="https://www.elmundo.es/em/codigo-etico.html" rel="nofollow">
                    {{> logos/trust}}
                    <span class="is-hidden">Trust project</span>
                </a>
            </li>
            <li class="ue-c-footer-lite__partner ue-c-footer-lite__partners-reverso">
                <a class="" target=”_blank” href="http://www.reverso.net/" rel="nofollow">
                    {{> logos/reverso}}
                    <span class="is-hidden">Powered by Reverso</span>
                </a>
            </li>

            <li class="ue-c-footer-lite__partner ue-c-footer-lite__partners-ntt">
                <a class="" target=”_blank” href="http://www.eu.ntt.com/es/index.html" rel="nofollow">
                    {{> logos/ntt}}
                    <span class="is-hidden">NTT Communication</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="ue-c-footer-lite__container-second">
        <nav role="navigation" aria-label="Menú corporativo">
            <ul class="ue-c-footer-lite__list ue-c-footer-lite__list-corporative">
                <li>
                    <a target=”_blank” title="Política de cookies" href="http://cookies.unidadeditorial.es/" class="ue-c-footer-lite__js-uecookiespolicy-preferences-show">Política de cookies</a>
                </li>
                <li>
                    <a target=”_blank” title="Política de privacidad" href="http://www.elmundo.es/privacidad/">Política de privacidad</a>
                </li>
                <li>
                    <a target=”_blank” title="Venta de contenidos" href="https://www.uesyndication.com/">Venta de contenidos</a>
                </li>
                <li>
                    <a target=”_blank” title="Términos y condiciones de uso" href="http://www.elmundo.es/privacidad/avisolegal.html">Términos y condiciones de uso</a>
                </li>
                <li>
                    <a target=”_blank” title="Publicidad" href="http://www.unidadeditorial.com/publicidad">Publicidad</a>
                </li>
                <li>
                    <a target=”_blank” title="Certificado por OJD" href="http://www.ojd.es/">Certificado por OJD</a>
                </li>
                <li>
                    <a target=”_blank” title="Contacto" href="http://www.elmundo.es/registro/contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>

</footer>