<footer class="ue-c-footer-lite {{clases}}" itemscope="" itemtype="http://schema.org/Organization" role="contentinfo">
        
        <ul class="ue-c-footer-lite__list ue-c-footer-lite__list-copyright">
            <li class="ue-c-footer-lite__copyright">
                <a class="ue-c-footer-lite__icon-expansion" target=”_blank” href="http://www.expansion.es/" title="Expansión">
                   {{> logos/header-expansion}}
                </a>
                <address aria-label="Dirección y datos de contacto">
                    <span itemprop="name">&copy; 2019 Unidad Editorial Información Económica S.L.</span>
                </address>
            </li>
        </ul>

        <nav role="navigation" aria-label="Menú corporativo">
            <ul class="ue-c-footer-lite__list ue-c-footer-lite__list-corporative">
                <li>
                    <a title="Términos y condiciones de uso" href="https://www.expansion.com/registro/registro-aviso-legal.html">Términos y condiciones de uso</a>
                </li>
                <li>
                    <a title="Política de privacidad" href="https://www.expansion.com/registro/registro-proteccion-datos.html">Política de privacidad</a>
                </li>
                <li>
                    <a title="Política de cookies" href="http://cookies.unidadeditorial.es/" class="js-uecookiespolicy-preferences-show">Política de cookies</a>
                </li>
                <li>
                    <a title="Certificado por OJD" href="http://www.ojd.es/">Certificado por OJD</a>
                </li>
                <li>
                    <a title="Quienes somos" href="https://www.expansion.com/contacto/index.html">Quiénes somos</a>
                </li>
                <li>
                    <a title="Publicidad" href="http://www.unidadeditorial.com/publicidad">Publicidad</a>
                </li>
                <li>
                    <a title="Atención al cliente" href="https://www.expansion.com/atencioncliente/">Atención al cliente</a>
                </li>
            </ul>


        </nav>
        <div class="ue-c-footer-lite__list-contact">
            <div class="ue-c-footer-lite__list-contact-group">
                <p>Apúntate a nuestras newsletters</p>
                 <a class="ue-c-footer-lite__list-contact-button" title="Ir a Newsletters" href="https://seguro.expansion.com/newsletters.html">Apuntarme</a>
            </div>
            <div class="ue-c-footer-lite__list-contact-group">
                <p>Síguenos en</p>
                <article>
                    <a href="https://twitter.com/expansioncom" class="icon-twitter" target="_blank" title="Twitter" itemprop="sameAs">
                        {{> logos/logo-twitter-blue }}
                    </a>
                    <a href="https://www.facebook.com/Expansion.com/" class="icon-facebook" target="_blank" title="Facebook" itemprop="sameAs">
                            {{> logos/logo-facebook }}
                    </a>
                    <a class="icon-linkedin" href="https://www.linkedin.com/company/expansi-n" itemprop="sameAs" target="_blank" title="Linkedin">
                            {{> logos/logo-linkedin }}
                    </a>
                    <a class="icon-instagram" href="https://www.instagram.com/expansion_com/" itemprop="sameAs" target="_blank" title="Instagram">
                            {{> logos/logo-instagram }}
                    </a>
                </article>
            </div>
        </div>
</footer>

