<header class="ue-c-header-lite {{clases}} ">
    <div class="ue-c-header-lite__logo">
            <a target="_blank" href={{headerLink}} title={{headerLinkTitle}}>
                {{#ifvalue cabecera value='elmundo'}} 
                    <span class="hidden-content">Portada El Mundo</span>
                    {{> logos/header-elmundo}}  
                {{/ifvalue }}
                {{#ifvalue cabecera value='expansion'}}
                    <span class="hidden-content">Portada Expansión</span>
                    {{> logos/header-expansion}}  
                {{/ifvalue }}
            </a>
    </div>
</header>
