{{!-- /////////////esto no va en el código final/////////////////// --}}
<h3 class="separador">Pantalla - mensajes</h3>
{{!-- /////////////esto no va en el código final/////////////////// --}}

{{!-- CORRECTO --}}

<div class="ue-c-premium-account">
	<div class="ue-c-premium-account__message is-centered">
		<h2 class="ue-c-premium-account__message-maintitle">¡Te has suscrito correctamente!</h2>
		<div class="ue-c-premium-account__message-correct">
			{{>icon_ok}}

			<h2 class="ue-c-premium-account__message-title">
				¡Pago completado!
				<br>¡Enhorabuena!
			</h2>
			<p class="ue-c-premium-account__message-text">Te confirmamos que has adquirido con éxito un pase diario a
				<span class="is-bold">El Mundo Premium.</span>
			</p>
			<p class="ue-c-premium-account__message-text">
				Has pagado un total de <span class="is-bold">0,99 €.</span>Podrás disfrutar de todos los contenidos y ventajas de Premium durante las
				<span class="is-bold">próximas 24 horas
				</span>. Revisa tu bandeja de entrada, te hemos mandado un mail con todos los detalles de tu compra
			</p>
		</div>
		<a class="ue-c-premium-account__message-download" href="http://">Descargar justificante de compra</a>
		<button class="ue-c-premium-account__button" type="button">Continuar leyendo</button>
	</div>
</div>

<div class="ue-c-premium-account">
	<div class="ue-c-premium-account__message is-centered">
		<h2 class="ue-c-premium-account__message-maintitle">¡Te has suscrito correctamente!</h2>
		<div class="ue-c-premium-account__message-correct">
			{{>icon_ok}}

			<h2 class="ue-c-premium-account__message-title">
				¡Pago completado!
				<br>¡Enhorabuena!
			</h2>
			<p class="ue-c-premium-account__message-text">Te confirmamos que has adquirido con éxito un pase diario a
				<span class="is-bold">El Mundo Premium.</span>
			</p>
			<p class="ue-c-premium-account__message-text">
				Has pagado un total de <span class="is-bold">7,99€</span> y ya puedes disfrutar de todos los contenidos y ventajas de Premium. Recuerda que tu suscripción se renovará automaticamente. Revisa tu bandeja de entrada, te hemos enviado un email con todos los detalles de tu compra.
			</p>
		</div>
		<a class="ue-c-premium-account__message-download" href="http://">Descargar justificante de compra</a>
		<button class="ue-c-premium-account__button" type="button">Continuar leyendo</button>
	</div>
</div>

<div class="ue-c-premium-account">
	<div class="ue-c-premium-account__message is-centered">
		<h2 class="ue-c-premium-account__message-maintitle">¡Te has suscrito correctamente!</h2>
		<div class="ue-c-premium-account__message-correct">
			{{>icon_ok}}

			<h2 class="ue-c-premium-account__message-title">
				¡Pago completado!
				<br>¡Enhorabuena!
			</h2>
			<p class="ue-c-premium-account__message-text">Te confirmamos que has adquirido con éxito un pase diario a
				<span class="is-bold">El Mundo Premium.</span>
			</p>
			<p class="ue-c-premium-account__message-text">
				Has pagado un total de <span class="is-bold">90€</span> y ya puedes disfrutar de todos los contenidos y ventajas de Premium. Recuerda que tu suscripción se renovará automaticamente. Revisa tu bandeja de entrada, te hemos enviado un email con todos los detalles de tu compra.
			</p>
		</div>
		<a class="ue-c-premium-account__message-download" href="http://">Descargar justificante de compra</a>
		<button class="ue-c-premium-account__button" type="button">Continuar leyendo</button>
	</div>
</div>

<div class="ue-c-premium-account">
	<div class="ue-c-premium-account__message is-centered">
		<h2 class="ue-c-premium-account__message-maintitle">¡Te has suscrito correctamente!</h2>
		<div class="ue-c-premium-account__message-correct">
			{{>icon_ok}}

			<h2 class="ue-c-premium-account__message-title">
				¡Pago completado!<br>¡Enhorabuena!
			</h2>
			<p class="ue-c-premium-account__message-text">
				Te confirmamos que has adquirido con éxito un pase mensual con descuento a <span class="is-bold">El Mundo Premium</span>. 
			</p>
			<p class="ue-c-premium-account__message-text">
				Has pagado un total de <span class="is-bold">6€ (promoción activa durante los 3 primeros meses luego pagarás 7,99€)</span>.
			</p>
			<p class="ue-c-premium-account__message-text">
				Ya puedes disfrutar de todos los contenidos y ventajas de Premium. Recuerda que tu suscripción se renovará automaticamente. Revisa tu bandeja de entrada, te hemos enviado un email con todos los detalles de tu compra.
			</p>
		</div>
		<a class="ue-c-premium-account__message-download" href="http://">Descargar justificante de compra</a>
		<button class="ue-c-premium-account__button" type="button">Continuar leyendo</button>
	</div>
</div>



<div class="ue-c-premium-account">
	<div class="ue-c-premium-account__message is-centered">
		<h2 class="ue-c-premium-account__message-maintitle">¡Te has suscrito correctamente!</h2>
		<div class="ue-c-premium-account__message-correct">
			{{>icon_ok}}

			<h2 class="ue-c-premium-account__message-title">
				¡Pago completado!
				<br>¡Enhorabuena!
			</h2>
			<p class="ue-c-premium-account__message-text">Te confirmamos que has adquirido con éxito un pase diario a
				<span class="is-bold">El Mundo Premium.</span>
			</p>
			<p class="ue-c-premium-account__message-text">
				Te confirmamos que has adquirido con éxito un pase mensual a <span class="is-bold">El Mundo Premium</span> y ya puedes 
				disfrutar de todos los contenidos y ventajas de tu suscripción. No comenzaremos a cobrarte hasta 
				<span class="is-bold">xx/xx/xxxx</span>. Pasado el periodo de prueba te pasaremos un cargo 
				por un total de <span class="is-bold">90€</span>.
			</p>
		</div>
		<a class="ue-c-premium-account__message-download" href="http://">Descargar justificante de compra</a>
		<button class="ue-c-premium-account__button" type="button">Continuar leyendo</button>
	</div>
</div>

<div class="ue-c-premium-account">
	<div class="ue-c-premium-account__message is-centered">
		<h2 class="ue-c-premium-account__message-maintitle">Has cancelado tu suscripción Premium</h2>
		<div class="ue-c-premium-account__message-correct">
			{{>icon_ok}}

			<h2 class="ue-c-premium-account__message-title">
				Ya no tendrás acceso a los contenidos Premium de El Mundo
			</h2>
			<p class="ue-c-premium-account__message-text">
					Dejarás de ser Premium el <span class="is-bold">20 de agosto del 2018</span>.
			</p>
			<p class="ue-c-premium-account__message-text">
				Recuerda que <span class="is-bold">podrás hacerte Premium</span> de nuevo cuando lo desees.
			</p>
		</div>
		<button class="ue-c-premium-account__button" type="button">Continuar leyendo</button>
	</div>
</div>


{{!-- ERROR --}}
<div class="ue-c-premium-account">
	<div class="ue-c-premium-account__message is-centered ">
		<h2 class="ue-c-premium-account__message-maintitle">Actividad Irregular</h2>
		<div class="ue-c-premium-account__message-error">
			{{>icon_fails}}
			<h2 class="ue-c-premium-account__message-title">
				Lo sentimos
			</h2>
			<p class="ue-c-premium-account__message-text">
				Hemos detectado una actividad irregular en su cuenta Premium. Se va a cerrar su sesión actual. Rogamos vuelva a acceder para continuar disfrutando de Premium. Muchas gracias
			</p>
		</div>
		<button class="ue-c-premium-account__button" type="button">Aceptar</button>
	</div>
</div>


<div class="ue-c-premium-account">
	<div class="ue-c-premium-account__message is-centered">
		<h2 class="ue-c-premium-account__message-maintitle">Registro El Mundo Premium</h2>
		<div class="ue-c-premium-account__message-error">
			{{>icon_fails}}
			<h2 class="ue-c-premium-account__message-title">
				Lo sentimos
			</h2>
			<p class="ue-c-premium-account__message-text">
				Se ha producido un error de comunicación. Inténtalo de nuevo un poco más tarde.
			</p>
		</div>
		<button class="ue-c-premium-account__button" type="button">Volver a Premium</button>
	</div>
</div>


<div class="ue-c-premium-account">
	<div class="ue-c-premium-account__message is-centered ">
		<h2 class="ue-c-premium-account__message-maintitle">Registro El Mundo Premium</h2>
		<div class="ue-c-premium-account__message-error">
			{{>icon_fails}}
		<h2 class="ue-c-premium-account__message-title">
			Lo sentimos
		</h2>
		<p class="ue-c-premium-account__message-text">No hemos podido completar el proceso de pago por un fallo en las comunicaciones.<br>Por favor, inténtalo de nuevo en unos minutos.</p>
		</div>
		<button class="ue-c-premium-account__button" type="button">Volver a Premium</button>
	</div>
</div>

<div class="ue-c-premium-account">
	<div class="ue-c-premium-account__message is-centered">
		<h2 class="ue-c-premium-account__message-maintitle">El Mundo Premium</h2>
		<p class="ue-c-premium-account__message-text">Vemos que ya has disfrutado de tu periodo de prueba.<br>Para continuar siendo Premium, selecciona el plan más adecuado para ti y completa el pago en un sencillo paso.</p>
		<button class="ue-c-premium-account__button" type="button">Aceptar y regresar</button>
	</div>
</div>


<div class="ue-c-premium-account">
	<div class="ue-c-premium-account__message is-centered">
		<h2 class="ue-c-premium-account__message-maintitle">Ya tienes un plan Premium</h2>
		<p class="ue-c-premium-account__message-text">Vemos que ya tienes contratado un plan Premium.<br><br>Para obtener más información sobre el estado de tu cuenta puedes consultar
			todos los datos en tu área de perfil o bien acudir a
			<a href="https://elmundo.custhelp.com/">nuestra área de preguntas frecuentes</a> para resolver cualquier duda sobre Premium</p>
		<button class="ue-c-premium-account__button" type="button">Aceptar y regresar</button>
	</div>
</div>

<div class="ue-c-premium-account">
	<div class="ue-c-premium-account__message is-centered">
		<p class="ue-c-premium-account__message-text">Vas a contratar una suscripción a un <a href="http://">plan diario 24 horas por 0,99€</a></p> 
		<p class="ue-c-premium-account__message-text"> <span>Si quieres contratar otro plan,</span> puedes elegir entre los que se muestran</p> 
		<section class="ue-c-premium-account__message-blocks">
			<div class="ue-c-premium-account__message-block">
				<p>Mensual</p>
				<span class="ue-c-premium-account__message-price">7,99€</span>
				<button type="button" class="ue-c-premium-account__button">Escoger</button>
			</div>
			<div class="ue-c-premium-account__message-block">
				<p>Anual</p>
				<span class="ue-c-premium-account__message-price">90€</span>
				<button type="button" class="ue-c-premium-account__button">Escoger</button>
			</div>
		</section>
	</div>
</div>
