{{!-- /////////////esto no va en el código final/////////////////// --}}
<h3 class="separador">Pantalla pago</h3>
{{!-- /////////////esto no va en el código final/////////////////// --}}
<div class="ue-c-premium-account {{clases}}">

	<div class="ue-c-premium-account__container">
		{{>plan}}
		<div class="ue-c-premium-account__step">
			<p class="ue-c-premium-account__steps">Paso
				<strong>2</strong> de 2 -
				<strong>Selecciona método de pago</strong>
			</p>
		</div>

	</div>

	<div class="ue-c-premium-account__paypal">
		<div class="ue-c-premium-account__paypal-text" title="pago con paypal">
			<span>Pago con</span>
			<svg role="img" aria-labelledby="title" xmlns="http://www.w3.org/2000/svg" class="icon-paypal" width="97" height="24">
				<title>pago con paypal</title>
				<g fill="none">
					<path fill="#179BD7" d="M78.43 6.88c-.76-.892-2.106-1.363-3.896-1.363h-5.347a.743.743 0 0 0-.734.626L66.29 19.825a.444.444 0 0 0 .439.514h2.744a.52.52 0 0 0 .513-.44l.614-3.877a.742.742 0 0 1 .733-.627h1.692c3.523 0 5.555-1.7 6.086-5.072.24-1.474.01-2.633-.683-3.444zm-3.28 3.634c-.291 1.915-1.757 1.915-3.175 1.915h-.807l.567-3.576a.443.443 0 0 1 .44-.375h.37c.964 0 1.876 0 2.347.55.28.327.366.814.259 1.486zm15.365-.062h-2.558c-.22 0-.407.16-.44.376l-.113.715-.18-.26c-.554-.803-1.79-1.071-3.023-1.071-2.83 0-5.245 2.139-5.716 5.139-.244 1.496.102 2.927.953 3.926.782.917 1.897 1.299 3.225 1.299 2.28 0 3.544-1.462 3.544-1.462l-.114.709a.445.445 0 0 0 .44.515h2.306a.744.744 0 0 0 .733-.627l1.385-8.745a.445.445 0 0 0-.442-.514zm-3.568 4.974c-.246 1.46-1.408 2.44-2.89 2.44-.741 0-1.337-.239-1.719-.69-.378-.447-.52-1.084-.402-1.794.233-1.448 1.411-2.46 2.87-2.46.727 0 1.317.24 1.707.696.393.46.547 1.1.434 1.808zm9.498-9.91h-2.47a.447.447 0 0 0-.44.376L91.34 19.825a.445.445 0 0 0 .44.514h2.206a.74.74 0 0 0 .734-.626L96.884 6.03a.445.445 0 0 0-.439-.514z"
					/>
					<path fill="#253B80" d="M40.294 6.88c-.76-.892-2.108-1.363-3.898-1.363H31.05a.743.743 0 0 0-.734.626l-2.163 13.682a.445.445 0 0 0 .441.514h2.553a.742.742 0 0 0 .734-.626l.584-3.691a.741.741 0 0 1 .733-.627h1.693c3.522 0 5.555-1.7 6.085-5.072.24-1.474.01-2.633-.681-3.444zm-3.281 3.634c-.292 1.915-1.758 1.915-3.176 1.915h-.806l.565-3.576a.445.445 0 0 1 .44-.375h.37c.966 0 1.876 0 2.347.55.281.327.367.814.26 1.486zm15.367-.062h-2.562a.445.445 0 0 0-.44.376l-.113.715-.18-.26c-.553-.803-1.79-1.071-3.023-1.071-2.83 0-5.246 2.139-5.717 5.139-.244 1.496.103 2.927.954 3.926.78.917 1.897 1.299 3.225 1.299 2.28 0 3.544-1.462 3.544-1.462l-.114.709a.445.445 0 0 0 .44.515H50.7a.744.744 0 0 0 .734-.627l1.384-8.745a.444.444 0 0 0-.439-.514zm-3.57 4.974c-.247 1.46-1.408 2.44-2.89 2.44-.743 0-1.337-.239-1.719-.69-.378-.447-.522-1.084-.401-1.794.23-1.448 1.41-2.46 2.869-2.46.727 0 1.318.24 1.708.696.39.46.544 1.1.433 1.808zm17.205-4.974h-2.573a.748.748 0 0 0-.615.326l-3.549 5.216-1.504-5.012a.745.745 0 0 0-.713-.53h-2.528c-.308 0-.52.3-.423.59l2.834 8.3-2.665 3.752a.445.445 0 0 0 .364.703h2.57a.743.743 0 0 0 .61-.319l8.558-12.327a.445.445 0 0 0-.366-.699z"
					/>
					<path fill="#179BD7" d="M19.331 7.037a3.64 3.64 0 0 0-1.044-.804 12.443 12.443 0 0 1-.161.831c-.935 4.075-3.544 5.822-6.944 6.19a14.48 14.48 0 0 1-1.471.075H7.558c-.517 0-.952.374-1.033.884l-.976 6.174-.126.797-.311 1.977a.55.55 0 0 0 .543.635h3.816a.918.918 0 0 0 .907-.772l.037-.194.719-4.55.046-.25a.917.917 0 0 1 .907-.774h.57c3.698 0 6.592-1.498 7.438-5.833.353-1.81.17-3.323-.765-4.386z"
					/>
					<path fill="#253B80" d="M6.526 14.213l.035-.226 1.223-7.73a.912.912 0 0 1 .906-.772h5.748c.68 0 1.316.045 1.896.138a8.018 8.018 0 0 1 .94.208l.166.051.052.016.028.011c.273.092.528.199.764.323l.003.001c.288-1.831-.002-3.078-.995-4.207C16.2.783 14.225.251 11.7.251H4.365c-.516 0-.956.375-1.036.884L.274 20.458a.629.629 0 0 0 .622.726h4.527l.126-.797.977-6.174z"
					/>
					<path fill="#222D65" d="M18.284 6.232a5.133 5.133 0 0 0-.763-.323l-.029-.01-.051-.017-.166-.05a7.91 7.91 0 0 0-.94-.209 11.968 11.968 0 0 0-1.897-.138H8.69a.915.915 0 0 0-.906.773l-1.223 7.73-.035.225c.08-.509.516-.883 1.033-.883H9.71a14.206 14.206 0 0 0 1.472-.076c3.4-.368 6.01-2.115 6.944-6.19a11.93 11.93 0 0 0 .16-.83l-.002-.002z"
					/>
				</g>
			</svg>
		</div>
		<svg xmlns="http://www.w3.org/2000/svg" class="icon-right" width="10" height="16" aria-hidden="true">
			<path fill="#2e6d9d" d="M1.91 15.959L.53 14.587 7.157 8 .53 1.413 1.91.041 9.917 8z" />
		</svg>
	</div>
	<div class="ue-c-premium-account__card ">
		<div class="ue-c-premium-account__card-text">
			<span>Pago con tarjeta</span>
			<svg role="img" aria-labelledby="title" xmlns="http://www.w3.org/2000/svg" class="icon-tarjeta-american" width="38" height="26">
				<title>pago con tarjeta american express</title>
				<g fill="none" fill-rule="evenodd">
					<g fill-rule="nonzero" transform="translate(8.143 6.158)">
						<ellipse cx="6.698" cy="6.819" fill="#EE0005" rx="6.695" ry="6.814" />
						<ellipse cx="15.016" cy="6.819" fill="#F9A000" rx="6.695" ry="6.814" />
						<path fill="#FF6300" d="M8.321 6.819c0 2.163.991 4.091 2.536 5.34a6.846 6.846 0 0 0 2.536-5.34 6.846 6.846 0 0 0-2.536-5.34 6.847 6.847 0 0 0-2.536 5.34z"
						/>
					</g>
					<rect width="37.316" height="25.316" x=".342" y=".342" stroke="#E2E2E2" stroke-width=".684" rx="2.053" />
				</g>
			</svg>
			<svg role="img" aria-labelledby="title" xmlns="http://www.w3.org/2000/svg" class="icon-tarjeta-visa" width="38" height="26">
				<title>pago con tarjeta visa</title>
				<g fill="none" fill-rule="evenodd">
					<g fill-rule="nonzero">
						<path fill="#3C58BF" d="M14.838 17.503l1.586-8.957H18.9l-1.536 8.957z" />
						<path fill="#293688" d="M14.838 17.503l2.032-8.957h2.03l-1.535 8.957z" />
						<path fill="#3C58BF" d="M26.333 8.646c-.496-.2-1.288-.398-2.28-.398-2.477 0-4.26 1.244-4.26 3.035 0 1.344 1.238 2.04 2.23 2.488.99.448 1.288.747 1.288 1.145 0 .597-.793.895-1.487.895-.99 0-1.536-.149-2.378-.497l-.347-.15-.347 2.04c.595.25 1.685.498 2.824.498 2.626 0 4.36-1.244 4.36-3.135 0-1.045-.644-1.84-2.13-2.488-.892-.447-1.437-.696-1.437-1.144 0-.398.446-.796 1.437-.796.842 0 1.437.149 1.883.348l.248.1.396-1.941z"
						/>
						<path fill="#293688" d="M26.333 8.646c-.496-.2-1.288-.398-2.28-.398-2.477 0-3.814 1.244-3.814 3.035 0 1.344.792 2.04 1.783 2.488.991.448 1.289.747 1.289 1.145 0 .597-.793.895-1.487.895-.99 0-1.536-.149-2.378-.497l-.347-.15-.347 2.04c.595.25 1.685.498 2.824.498 2.626 0 4.36-1.244 4.36-3.135 0-1.045-.644-1.84-2.13-2.488-.892-.447-1.437-.696-1.437-1.144 0-.398.446-.796 1.437-.796.842 0 1.437.149 1.883.348l.248.1.396-1.941z"
						/>
						<path fill="#3C58BF" d="M30.594 8.546c-.595 0-1.04.05-1.288.647l-3.716 8.31h2.675l.496-1.492h3.17l.298 1.492h2.378l-2.08-8.957h-1.933zm-1.14 5.972c.149-.448.991-2.638.991-2.638s.198-.547.347-.895l.149.846s.495 2.239.594 2.736h-2.08v-.05z"
						/>
						<path fill="#293688" d="M31.188 8.546c-.594 0-1.04.05-1.288.647l-4.31 8.31h2.675l.496-1.492h3.17l.298 1.492h2.378l-2.08-8.957h-1.339zm-1.734 5.972c.198-.498.991-2.638.991-2.638s.198-.547.347-.895l.149.846s.495 2.239.594 2.736h-2.08v-.05z"
						/>
						<path fill="#3C58BF" d="M10.28 14.816l-.248-1.294c-.446-1.492-1.883-3.134-3.468-3.93l2.23 7.961h2.675l4.013-8.957h-2.675l-2.527 6.22z"
						/>
						<path fill="#293688" d="M10.28 14.816l-.248-1.294c-.446-1.492-1.883-3.134-3.468-3.93l2.23 7.961h2.675l4.013-8.957h-2.18l-3.022 6.22z"
						/>
						<path fill="#FFBC00" d="M3.393 8.546l.446.1c3.17.746 5.35 2.637 6.193 4.876l-.892-4.23c-.148-.596-.594-.746-1.14-.746H3.394z"
						/>
						<path fill="#F7981D" d="M3.393 8.546c3.17.747 5.797 2.687 6.64 4.927L9.19 9.94A1.21 1.21 0 0 0 8 8.994l-4.607-.448z" />
						<path fill="#ED7C00" d="M3.393 8.546c3.17.747 5.797 2.687 6.64 4.927l-.595-1.94c-.15-.598-.347-1.195-1.04-1.444L3.392 8.546z"
						/>
						<path d="M12.757 14.518l-1.684-1.692-.793 1.89-.198-1.243c-.446-1.493-1.883-3.135-3.469-3.931l2.23 7.961h2.675l1.24-2.985zm4.608 2.985l-2.13-2.19-.397 2.19zm5.698-3.085c.198.2.297.349.248.548 0 .597-.793.895-1.487.895-.99 0-1.536-.149-2.378-.497l-.347-.15-.347 2.04c.595.25 1.685.498 2.824.498 1.586 0 2.874-.448 3.617-1.244l-2.13-2.09zm2.874 3.085h2.328l.496-1.492h3.17l.298 1.492h2.378l-.842-3.632-2.973-2.886.149.796s.495 2.24.594 2.737h-2.08c.197-.498.99-2.638.99-2.638s.198-.547.347-.895"
						 fill="#051244" />
					</g>
					<rect width="37.316" height="25.316" x=".342" y=".342" stroke="#E2E2E2" stroke-width=".684" rx="2.053" />
				</g>
			</svg>
			<svg role="img" aria-labelledby="title" xmlns="http://www.w3.org/2000/svg" class="icon-tarjeta-amex" width="34" height="25">
				<title>pago con tarjeta amex</title>
				<g fill="none">
					<path fill="#26A6D1" d="M2.1 0H32c1.1 0 2 1 2 2.2v20.6C34 24 33 25 32 25H2C1 25 0 24 0 22.8V2.2C0 1 1 0 2.1 0z" />
					<path fill="#FFF" d="M5.5 8.7L2 16.3h4l.5-1.2h1.2l.5 1.2h4.4v-1l.4 1h2.3l.4-1v1H25l1-1.2 1.1 1.2h4.7l-3.3-3.8 3.3-3.8h-4.6l-1 1.1L25 8.7h-10l-.9 2-.8-2h-4v.9l-.5-1H5.5zm.8 1h2l2.1 5.2V9.8h2.2l1.7 3.7 1.6-3.7H18v5.4h-1.3V11l-1.9 4.3h-1.1l-2-4.3v4.3H9.2L8.6 14H5.8l-.5 1.2H4l2.4-5.4zm13 0h5.2l1.6 1.8 1.7-1.7h1.6l-2.5 2.7 2.5 2.7h-1.7L26 13.4l-1.7 1.8h-5.2V9.8zm-12 1l-1 2.2h1.8l-.9-2.2zm13.2.2v1h2.9v1h-2.9v1.2h3.2l1.5-1.6-1.4-1.6h-3.3z"
					/>
				</g>
			</svg>
		</div>
	</div>
	<p class="ue-c-premium-account__accept">Al realizar el pago declaras aceptar los <a href="http://">términos y condiciones legales</a> .</p>

	<iframe class="no-design" src="iframe.html" frameborder="0" style="width: 100%;height: 320px;" ></iframe>

	{{> premium-log-help }}

</div>
