<div class="ue-c-premium-account__plan ">
    <div>
        <p class="ue-c-premium-account__plan-text">Has seleccionado:</p>
        <ul class="ue-c-premium-account__plan-list">
            <li>Adfree elmundo.es mensual 0.77€</li>
            <li>Adfree elmundo.es mensual 0.77€</li>
        </ul>
    </div>
    <button type="button" class="ue-c-premium-account__plan-button " href="">Cambiar plan</button>
</div>